/* Style the form container */
form {
    text-align: center;
    margin-top: 20px;
}

/* Style the select dropdown with round borders */
select {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 20px; /* Rounded corners */
    border: 1px solid #ccc; /* Add a border for clarity */
}

/* Style the button with round borders */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
}

/* Style the button on hover */
button:hover {
    background-color: #0056b3;
}
header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}

/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}
